<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart display</title>

    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600" />

    <script src="index.js" defer></script>
</head>

<body>
    <div id="brightness"></div>
    <div id="gradient"></div>
    <div id="info">
        <div id="basic_info">
            <h1 id="time"></h1>
            <h2 id="date"></h2>
            <div id="weather">
                <img id="weather_icon" src="">
                <h2 id="weather_text"></h2>
            </div>
        </div>
        <div id="side_info"></div>
    </div>
    <div>
        <img id="wallpaper" src="data/auto/nature/joseph-lee-F-RFmRDzTh8-unsplash.jpg">
    </div>
</body>

</html>