<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart display</title>

    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600" />

    <script src="index.js" defer></script>
</head>

<body>
    <div id="brightness"></div>
    <div id="gradient"></div>
    <div id="info">
        <div id="basic_info">
            <h1 id="time"></h1>
            <h2 id="date"></h2>
            <div id="weather">
                <img id="weather_icon" src="">
                <h2 id="weather_text"></h2>
            </div>
        </div>

        <div id="side_info">

        </div>
    </div>
    <div>
        <img id="wallpaper_front" class="wallpaper" src="" style="opacity: 0;">
        <img id="wallpaper_back" class="wallpaper" src="">
    </div>
</body>


<div class="scoreboard hidden">
    <div class="main_scoreboard">
        <img class="scoreboard_logo" src="">
        <h4></h4>
        <div class="middle_text">
            <h5 class="league"></h5>
            <h3 class="score"></h3>
        </div>
        <h4></h4>
        <img class="scoreboard_logo" src="">
    </div>

    <div class="sub_section">
        <div class="sub_scoreboard">
        </div>
    </div>
</div>

</html>