* {
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1 {
  color: white;
  font-size: 15vw;
  line-height: 1em;
  margin: 0;
}

h2 {
  color: white;
  font-size: 2.5vw;
  margin: 0;
}

h3 {
  color: white;
  font-size: 3vw;
  margin: 0;
}

.score {
  overflow: hidden;
  white-space: nowrap;
}

.score.become_small {
  font-size: 2vw;
}

h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2vw;
  margin: 0;
}

h5 {
  font-size: 0.9em !important;
}

body {
  margin: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

#brightness {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  z-index: 1000;
  opacity: 1;
  transition: 0.5s;
}

#info {
  position: fixed;
  height: 50%;
  width: 100%;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  padding: 0 10px 20px 20px;
  z-index: 100;
}

#basic_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

#side_info {
  width: 100%;
  height: 100%;
}

#gradient {
  background: linear-gradient(to top, #000000 5%, rgba(0, 0, 0, 0) 50%);
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.wallpaper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}

#wallpaper_front {
  z-index: -50;
}

#wallpaper_back {
  z-index: -100;
}

#time {
  margin-left: 5px;
}

#date {
  margin-left: 20px;
}

#weather {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

#weather_icon {
  filter: hue-rotate(20deg) saturate(1.5);
  height: 5vw;
}

.scoreboard.full {
  width: 100%;
}

.scoreboard {
  width: 50%;
  margin: 2px 0;
}

.main_scoreboard {
  display: flex;
  border-radius: 10vw;
  width: 75%;
  padding: 3px 20px;
  font-size: 1em;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.sub_scoreboard {
  display: flex;
  border-radius: 10vw;
  background-color: black;
  color: white;
  font-size: min(calc(1vw + 1vh), 1.8em);
  box-shadow: 0 -5px 20px rgba(220, 220, 220, 0.2);
  width: fit-content;
  padding: 0px 20px;
  justify-content: center;
  margin: 0 10px;
  border: 1px white solid;
}

.scoreboard_logo {
  height: 40px;
}

.scoreboard_logo.become_small {
  height: 4px;
}

.scoreboard_layout_1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.scoreboard_layout_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-end;
  align-content: flex-end;
}

.sub_section {
  display: flex;
  justify-content: center;
}

.middle_text {
  display: flex;
  flex-direction: column;
  transform: translate(0, -10px);
}

.league {
  font-size: 1em;
  text-align: center;
  padding-top: 12px;
  line-height: 15px;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}
